<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" asp-controller="Client" asp-action="Index">Категории рецептов</a>
			</li>
		</ul>
		<a class="btn btn-secondary" asp-controller="Account" asp-action="Logout">Выйти</a>
	</div>
</nav>
<br />